<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="board">
	<select id="list" parameterType="int" resultType="com.hankyung.domain.board.BoardDTO">
		 	SELECT * FROM
			(SELECT rownum AS rnum, A.* FROM
				( SELECT * FROM hk_board 
					WHERE btype=#{btype} AND
				<choose>
					<when test="search_option != 'all'">
						<if test="search_option == 'title'">
							title LIKE #{keyword}
						</if>
						<if test="search_option == 'writer'">
							writer LIKE #{keyword}
						</if>
					</when>
					<otherwise>
						<if test="search_option == 'all'">
							(title LIKE #{keyword}
							OR writer LIKE #{keyword})
						</if>
					</otherwise>
				</choose>
				ORDER BY tnum DESC
				)
			A)
		WHERE rnum BETWEEN #{start} AND #{end}
	</select>
	
	<insert id="create">
		INSERT INTO hk_board(bno, tnum, btype, title, content, writer)
		<if test="btype == 0">
			VALUES(seq_hkboard.NEXTVAL, seq_hkboard_notice.NEXTVAL, #{btype}, #{title}, #{content}, #{writer})
		</if>
		<if  test="btype == 1">
			VALUES(seq_hkboard.NEXTVAL, seq_hkboard_qna.NEXTVAL, #{btype}, #{title}, #{content}, #{writer})
		</if>
		<selectKey keyProperty="bno" resultType="Integer" order="AFTER">
			SELECT seq_hkboard.CURRVAL FROM dual
		</selectKey>
	</insert>
	
	<update id="update">
		UPDATE hk_board
			SET title=#{title},
				content=#{content}
		WHERE bno=#{bno}
	</update>
	
	<select id="read" resultType="com.hankyung.domain.board.BoardDTO">
		SELECT * FROM hk_board WHERE bno=#{bno} AND btype=#{btype}
	</select>
	
	<update id="increaseViewCnt">
		UPDATE hk_board
			SET viewcnt = viewcnt + 1
		WHERE bno = #{bno} AND btype=#{btype}
	</update>
	
	<delete id="delete">
		DELETE FROM hk_board
		WHERE tnum = #{tnum} AND btype=#{btype}
	</delete>
	
	<!-- 레코드 갯수 계산  -->
	<select id="countArticle" resultType="int">
		SELECT COUNT(*)
		FROM hk_board WHERE btype=#{btype} AND
		<choose>
			<when test="search_option != 'all'">
				<if test="search_option == 'title'">
					title LIKE #{keyword}
				</if>
				<if test="search_option == 'writer'">
					writer LIKE #{keyword}
				</if>
			</when>
			<otherwise>
				(title LIKE #{keyword}
				OR writer LIKE #{keyword})
			</otherwise>
		</choose>
	</select>

	
</mapper>