<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="board">
	<select id="list" parameterType="int" resultType="com.hankyung.domain.board.BoardDTO">
		SELECT * FROM hk_board
		 WHERE btype = #{btype}
	</select>
	
	<insert id="create">
		INSERT INTO hk_board(bno, tnum, btype, title, content, writer)
		<if test="btype == 0">
			VALUES(seq_hkboard.NEXTVAL, seq_hkboard_notice.NEXTVAL, #{btype}, #{title}, #{content}, #{writer})
		</if>
		<if  test="btype == 1">
			VALUES(seq_hkboard.NEXTVAL, seq_hkboard_qna.NEXTVAL, #{btype}, #{title}, #{content}, #{writer})
		</if>
		<selectKey keyProperty="bno" resultType="Integer" order="AFTER">
			SELECT seq_hkboard.CURRVAL FROM dual
		</selectKey>
	</insert>
	
	<select id="read" resultType="com.hankyung.domain.board.BoardDTO">
		SELECT * FROM hk_board WHERE bno=#{bno} AND btype=#{btype}
	</select>
	
	<update id="increaseViewCnt">
		UPDATE hk_board
			SET viewcnt = viewcnt + 1
		WHERE bno = #{bno} AND btype=#{btype}
	</update>
	
	<delete id="delete">
		DELETE FROM hk_board
		WHERE tnum = #{tnum} AND btype=#{btype}
	</delete>
</mapper>