.background_box{
		background-color: #2D314F;
		padding-top: 110px;
		width: 100vw;
		height: 100vh;
		box-sizing: border-box;
	}
	.main_box{
		background-color: white;
		width: 1100px;
		display: flex;
		margin: 0 auto;
		height: 620px;
	}
	.img_box1{
		background-color: lightgray;
		width: 450px;
		height: 100%;
		position: relative;
	}
	.img_box1 > img{
		position: absolute;
		bottom: 0;
		left: 30px;
		width: 90%;	
	}
	.o_btn{
		border-radius: 30px;
		width: 100%;
		height: 100%;
		border: none;
		outline: none;
		background-color: #79CCCE;
		color:white;
	}
	.o_btn:hover{
		background-color: #70b9bb; 
		transition:0.2s;
		cursor: pointer;
	}