<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="lecture">
	<select id="cartlist" parameterType="String" resultType="com.hankyung.domain.lecture.LectureDTO">
		SELECT * FROM hk_cart
		 WHERE id = #{id}
	</select>
	
	<select id="popularList" resultType="com.hankyung.domain.lecture.LectureDTO">
		<![CDATA[
			SELECT * FROM
				(SELECT * FROM hk_lecture
				ORDER BY rgstrmem ASC)
			WHERE rownum <= 3
		]]>
	</select>
	
	<select id="newList" resultType="com.hankyung.domain.lecture.LectureDTO">
		<![CDATA[
			SELECT * FROM
				(SELECT * FROM hk_lecture
				ORDER BY lno DESC)
			WHERE rownum <= 3
		]]>
	</select>

</mapper>